<div class="grid">
    <div class="col-12 p-0 lg:p-3">
        <div class="card p-3">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-2 p-1">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nueva" icon="pi pi-plus"
                            class="p-button-success rounded mr-2 p-2" (click)="openNew()"
                            *ngIf="tokenService.isAdmin()"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger rounded p-2"
                            (click)="deleteSelectedCursos()" [disabled]="!selectedCursos || !selectedCursos.length"
                            *ngIf="tokenService.isAdmin() && cursos && cursos.length > 0"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <h5 class="m-0" *ngIf="cursos && cursos.length > 0">Total {{ cursos ? cursos.length : 0}} Cursos
                    </h5>
                </ng-template>
            </p-toolbar>
            <ng-container *ngIf="cursos && cursos.length > 0">

                <p-table #dt [value]="cursos" scrollDirection="both" [scrollable]="true" scrollHeight="400px"
                    [columns]="cols" responsiveLayout="scroll" [rows]="10" [alwaysShowPaginator]="true"
                    [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                    currentPageReportTemplate="Viendo {first} a {last} de {totalRecords} Cursos"
                    [globalFilterFields]="['codigo','nombre','descripcion', 'idioma']" [showCurrentPageReport]="true"
                    [(selection)]="selectedCursos" selectionMode="multiple" [rowHover]="true" dataKey="id">

                    <ng-template pTemplate="caption" styleClass="p-1">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center p-0">
                            <h5 class="m-0">Cursos</h5>
                            <span class="block mt-1 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                    placeholder="Buscar..." class="w-full sm:w-auto" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" styleClass="p-1">
                        <tr>
                            <th class="p-0 text-center" *ngIf="tokenService.isAdmin()">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th class="text-center">Curso</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-curso>
                        <tr>
                            <td *ngIf="tokenService.isAdmin()">
                                <p-tableCheckbox [value]="curso"></p-tableCheckbox>
                            </td>
                            <td>
                                <div class="container p-1 align-items-start" style="width:100% !important;">
                                    <div class="row justify-content-between align-items-start">
                                        <div class="col-6 flex flex-column align-items-start">
                                            <div class="text-xl font-bold text-900">{{ curso.codigo }}-{{ curso.nombre
                                                }}</div>
                                            <div>
                                                <p><span class="font-bold">Nivel: </span>{{ getNivel(curso.nivel) }}<br>
                                                    <span class="font-bold">Idioma: </span>{{ curso.idioma }}<br>
                                                    <span class="font-bold">Plataforma: </span>{{ curso.plataforma ?
                                                    curso.plataforma.nombre : "No esta asignado"}}
                                                </p>
                                                <p></p>
                                            </div>
                                            <!--<p-rating [(ngModel)]="item.rating" [readonly]="true" [cancel]="false"></p-rating>-->
                                            <div class="text-1 text-700">
                                                <p class="text-justify">{{ curso.descripcion }}</p>
                                            </div>
                                            <div class="flex align-items-center gap-3">
                                                <div class="flex align-items-center gap-3" *ngIf="curso.linkCurso">
                                                    <a [href]="curso.linkCurso" target="_blank"
                                                        rel="noopener noreferrer">
                                                        <button pButton pRipple label="Ir al curso"
                                                            class="p-button-info rounded"></button>
                                                    </a>
                                                    <!--<p-tag [value]="item.inventoryStatus" [severity]="getSeverity(item)"></p-tag>-->
                                                </div>
                                                <div class="flex align-items-center gap-3" *ngIf="curso.linkCursoTeleg">
                                                    <a [href]="curso.linkCursoTeleg" target="_blank"
                                                        rel="noopener noreferrer">
                                                        <button pButton pRipple label="Descargar curso"
                                                            class="p-button-info rounded p-2"></button>
                                                    </a>
                                                    <!--<p-tag [value]="item.inventoryStatus" [severity]="getSeverity(item)"></p-tag>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 container">
                                            <div class="row" *ngIf="tokenService.isAdmin()">
                                                <button pButton pRipple icon="pi pi-pencil"
                                                    class="rounded-circle p-button-success ml-3 mr-2"
                                                    style="width: 40px; height: 40px;"
                                                    (click)="editCurso(curso)"></button>
                                                <button pButton pRipple icon="pi pi-trash"
                                                    class="rounded-circle p-button-warning"
                                                    style="width: 40px; height: 40px;"
                                                    (click)="deleteCurso(curso)"></button>
                                            </div>
                                            <div class="row">
                                                @if (curso.areascurso != null && curso.areascurso.length > 0) {
                                                <div class="row">
                                                    <h5 class="inline-block m-1">Areas del Curso: </h5>
                                                    <div>
                                                        <span
                                                            class="font-bold text-white bg-primary p-2 m-2 min-w-max inline-block"
                                                            style="border: solid 1px #3b82f6; border-radius: 5px;"
                                                            *ngFor="let areaCursos of curso.areascurso;">{{
                                                            areaCursos.nombre
                                                            }}</span>
                                                    </div>
                                                </div>
                                                }@else {
                                                <h5 class="mt-2 mb-2 row">No hay areas de cursos asignadas</h5>
                                                }

                                                @if (curso.profesores != null && curso.profesores.length > 0) {
                                                <div>
                                                    <h5 class="inline-block m-1">Profesores: </h5>
                                                    <div class="flex flex-row">
                                                        <span
                                                            class="font-bold text-white bg-primary p-2 m-2 min-w-max inline-block"
                                                            style="border: solid 1px #3b82f6; border-radius: 5px;"
                                                            *ngFor="let profesor of curso.profesores;">{{
                                                            profesor.nombre
                                                            }}</span>
                                                    </div>
                                                </div>
                                                }@else {
                                                <h5 class="mt-2 mb-2">No hay profesores asignados</h5>
                                                }

                                                @if (curso.rutas != null && curso.rutas.length > 0) {
                                                <div>
                                                    <h5 class="inline-block m-1">Rutas: </h5>
                                                    <div class="flex flex-row">
                                                        <span
                                                            class="font-bold text-white bg-primary p-2 m-2 min-w-max inline-block"
                                                            style="border: solid 1px #3b82f6; border-radius: 5px;"
                                                            *ngFor="let ruta of curso.rutas;">{{ ruta.nombre }}</span>
                                                    </div>

                                                </div>
                                                }@else {
                                                <h5 class="mt-2 mb-2">No esta en una ruta de aprendizaje</h5>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
            <ng-container *ngIf="!(cursos && cursos.length > 0)">
                <h1 class="text-center">No tienes cursos registrados</h1>
            </ng-container>
        </div>

        <p-dialog [(visible)]="cursoDialog" [style]="{width: '500px'}" header="Detalles del Curso" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="codigo">Codigo</label>
                        @if (curso.id) {
                        <input type="text" pInputText id="codigo" disabled [(ngModel)]="curso.codigo" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !curso.codigo}" />
                        } @else {
                        <input type="text" pInputText id="codigo" [(ngModel)]="curso.codigo" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !curso.codigo}" />
                        }
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !curso.codigo">El codigo es
                            requerido.</small>
                    </div>
                </div>

                <div class="field">
                    <label for="nombre">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="curso.nombre" maxlength="200" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !curso.nombre}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !curso.nombre">El nombre es
                        requerido.</small>
                </div>

                <div class="field">
                    <label for="plataforma">Plataforma</label>
                    <p-dropdown [options]="plataformas" inputId="plataforma" [filter]="true" filterBy="nombre"
                        [showClear]="true" [(ngModel)]="selectdPlataforma" optionLabel="nombre" optionValue="id"
                        placeholder="Seleccionar plataforma">
                    </p-dropdown>
                </div>

                <div class="field">
                    <label for="descripcion">Descripción</label>
                    <textarea id="descripcion" pInputTextarea [(ngModel)]="curso.descripcion" maxlength="500" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !curso.descripcion}" rows="3"
                        cols="20"></textarea>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !curso.descripcion">La descripción es
                        requerida.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="nivel">Nivel del Curso</label>
                        <p-dropdown [options]="nivelesCursos" inputId="number" [filter]="true" filterBy="descripcion"
                            [showClear]="true" [(ngModel)]="curso.nivel" optionLabel="descripcion"
                            optionValue="valor" placeholder="Seleccionar el nivel" 
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !curso.nivel}">
                        </p-dropdown>

                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !curso.nivel">El nivel es
                            requerido.</small>
                    </div>
                    <div class="field col">
                        <label for="idioma">Idioma</label>
                        <input type="text" pInputText id="idioma" maxlength="25" [(ngModel)]="curso.idioma" required
                            autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !curso.idioma}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !curso.idioma">El idioma es
                            requerido.</small>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="link">Link</label>
                        <input type="text" pInputText id="logo" maxlength="150" [(ngModel)]="curso.linkCurso" required
                            autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !curso.linkCurso}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !curso.linkCurso">El link del curso es
                            requerido.</small>
                    </div>
                    <div class="field col">
                        <label for="linkDescargar">Link Descargar Curso</label>
                        <input type="text" pInputText id="link" maxlength="200" [(ngModel)]="curso.linkCursoTeleg"
                            required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !curso.linkCursoTeleg}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !curso.linkCursoTeleg">El link de descarga es
                            requerido.</small>
                    </div>
                </div>

                <div class="field">
                    <label for="areascurso">Areas del Curso</label>
                    <p-multiSelect [options]="areasCursos" [(ngModel)]="selectdAreasCursos" optionLabel="nombre"
                        placeholder="Seleccionar areas del curso" display="chip">
                        <ng-template let-item pTemplate="selectdAreasCursos">
                            <div>
                                <span>{{ item.codigo }}</span>-<span>{{ item.nombre }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="field">
                    <label for="profesores">Profesores del Curso</label>
                    <p-multiSelect [options]="profesores" optionLabel="nombre" [(ngModel)]="selectedProfesores"
                        placeholder="Seleccionar profesores del curso" display="chip">
                    </p-multiSelect>
                </div>

                <div class="field">
                    @if (selectdAreasCursos != null && selectdAreasCursos.length > 0) {
                    <div>
                        <h3>Areas del Curso</h3>
                        <div class="min-w-max inline-block bg-primary p-2 m-2"
                            style="border: solid 1px #3b82f6; border-radius: 5px;"
                            *ngFor="let areaCursos of selectdAreasCursos;">
                            <span class="font-bold text-white">{{ areaCursos.nombre }}</span>
                        </div>
                    </div>
                    }@else {
                    <div>
                        <h3 class="mt-2 mb-2">No hay areas de cursos asignadas</h3>
                    </div>

                    }
                </div>

                <div class="field">
                    @if (selectedProfesores != null && selectedProfesores.length > 0) {
                    <div>
                        <h3>Profesores</h3>
                        <div class="min-w-max inline-block bg-primary p-2 m-2"
                            style="border: solid 1px #3b82f6; border-radius: 5px;"
                            *ngFor="let profesor of selectedProfesores;">
                            <span class="font-bold text-white">{{ profesor.nombre }}</span>
                        </div>
                    </div>
                    }@else {
                    <h3 class="mt-2 mb-2">No hay profesores asignados</h3>
                    }
                </div>

                <div class="field">
                    @if (curso.rutas != null && curso.rutas.length > 0) {
                    <div>
                        <h3>Rutas</h3>
                        <div class="min-w-max inline-block bg-primary p-2 m-2"
                            style="border: solid 1px #3b82f6; border-radius: 5px;" *ngFor="let ruta of curso.rutas;">
                            <span class="font-bold text-white">{{ ruta.nombre }}</span>
                        </div>
                    </div>
                    }@else {
                    <h3 class="mt-2 mb-2">No esta en una ruta de aprendizaje</h3>
                    }
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="saveCurso()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteCursoDialog" header="Confirmar eliminación" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="curso">¿Esta seguro/a de eliminar la plataforma <b>{{curso.nombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteCursoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <!-- DIALOGO CONFIRMAR ELIMINAR UNA PLATAFORMA -->
        <p-dialog [(visible)]="deleteCursoDialog" header="Confirmar eliminación" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="curso">¿Esta seguro/a de eliminar la plataforma <b>{{curso.nombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteCursoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <!-- DIALOGO CONFIRMAR ELIMINAR VARIAS PLATAFORMAS -->
        <p-dialog [(visible)]="deleteCursosDialog" header="Confirmar eliminación" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Esta seguro/a de eliminar las plataformas seleccionadas?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteCursosDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>